.bg-palletdarkGrey{
    background-color: var(--palletdarkGrey)!important;
}
.bg-palletGrey{
    background-color: var(--palletGrey)!important;
}
.bg-palletlightGrey{
    background-color: var(--palletlightGrey)!important;
}
.bg-palletoffWhite{
    background-color: var(--palletoffWhite)!important;
}
.bg-palletWhite{
    background-color: var(--palletWhite)!important;
}
.bg-palletlightRed{
    background-color: var(--palletlightRed)!important;
}
.bg-palletRed{
    background-color: var(--palletRed)!important;
}
.bg-palletdarkRed{
    background-color: var(--palletdarkRed)!important;
}
.t-palletdarkGrey{
    color: var(--palletdarkGrey)!important;
}
.t-palletGrey{
    color: var(--palletGrey)!important;
}
.t-palletlightGrey{
    color: var(--palletlightGrey)!important;
}
.t-palletoffWhite{
    color: var(--palletoffWhite)!important;
}
.t-palletWhite{
    color: var(--palletWhite)!important;
}
.t-palletlightRed{
    color: var(--palletlightRed)!important;
}
.t-palletRed{
    color: var(--palletRed)!important;
}
.t-palletdarkRed{
    color: var(--palletdarkRed)!important;
}
.h-nav{
    height: 50px;
}
.z-index{
    z-index: 2000;
}
.bg-image_one{
    background-image: url("../../img/home/Header_pic_1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.bg-image_two{
    background-image: url("../../img/home/Header_pic_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-readMore {
    background-color: var(--palletoffWhite);
    color: var(--palletdarkGrey);
    border: 2px solid var(--palletlightRed);
}

.btn-readMore:hover {
    background-color: var(--palletlightRed)!important;
    color: var(--palletWhite);
}

.btn-BMI{
    background-color: var(--palletlightRed);
    color: var(--palletdarkGrey);
    border: 2px solid var(--palletdarkGrey);
}
.btn-BMI:hover{
    background-color: var(--palletdarkGrey)!important;
    color: var(--palletWhite);
}